<div class="row">
  <div class="col-xs-6">
    <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive img-thumbnail" style="width: 300px">
  </div>
  <div class="col-xs-6">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="col-xs-3">
    <div class="button-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" [style]="'cursor: pointer;'">To Shopping List</a></li>
        <li><a [routerLink]="['edit']" [style]="'cursor: pointer;'">Edit Recipe</a></li>
        <li><a [style]="'cursor: pointer;'" (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
  </div>
</div>
